[submodule "lib/libssh2"]
	path = lib/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "lib/lite-xl"]
	path = lib/lite-xl
	url = git@github.com:lite-xl/lite-xl.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.6.1
	shallow = true
